<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Pasarly</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap" rel="stylesheet">
  </head>
  <body style="margin: 0; padding: 100px 0; background-color: #e7f0fa; font-family: 'Inter', Arial, sans-serif;">
    <div style="margin: 0 auto; padding: 30px 50px; max-width: 650px; width: 75%; background: #ffffff; border-top: 5px solid #265084; border-bottom: 5px solid rgb(38, 80, 132, 0.5);">
      <h1 style="margin: 0 0 25px; width: 100%; color: #000000; font-size: 24px; font-weight: 600; text-align: start;">Welcome to Pasarly 🎉</h1>
      <div style="margin: 0 0 25px; width: 100%;">
        <p style="margin: 0 0 5px; color: #000000; font-size: 16px; font-weight: 400; line-height: 1.6;">Hi, <span style="color: #000000; font-weight: 600; text-decoration: none !important;">{{.Email}}</span></p>
        <p style="margin: 0; color: #000000; font-size: 16px; font-weight: 400; line-height: 1.6;">
          Thank you for registering with <strong>Pasarly</strong>! We're excited to have you on board. To complete your registration, please verify your email address by clicking the button below. If you didn't create an account with Pasarly, you can safely delete this email.
        </p>
      </div>
      <a href="{{.URL}}"
        target="_blank"
        style="
          margin: 0 0 25px;
          padding: 12px 75px;
          display: inline-block;
          background-color: #265084;
          border-radius: 4px;
          color: #ffffff !important;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.6;
          text-decoration: none;"
      >
        Verify Email
      </a>
      <div style="margin: 0 0 25px; width: 100%;">
        <p style="margin: 0 0 5px; color: #999999; font-size: 16px; font-weight: 400; line-height: 1.6;">
          If the button above doesn't work, copy and paste this link into your browser:
        </p>
        <a href="{{.URL}}" 
          target="_blank" 
          style="color: #265084; font-size: 16px; font-weight: 500; line-height: 1.6; text-decoration: underline;"
        >
          {{.URL}}
        </a>
      </div>
      <div style="margin: 0 0 25px; width: 100%;">
        <p style="margin: 0 0 5px; color: #000000; font-size: 16px; font-weight: 400; line-height: 1.6;">The Pasarly Team.</p>
        <img
          src="https://res.cloudinary.com/dta3lzmww/image/upload/v1757322939/apotekly.png"
          alt="pasarly"
          style="height: 30px; aspect-ratio: 5.45;"
        />
      </div>
      <p style="margin: 0; width: 100%; color: #999999; font-size: 12px; font-weight: 400; line-height: 1.4; text-align: center;">&copy; {{.Year}} Pasarly. All rights reserved.</p>
    </div>
  </body>
</html>
