services:
  api-gateway:
    image: pasarly-api-gateway
    platform: linux/amd64
    build:
      context: .
      dockerfile: services/gateway/Dockerfile.app
    container_name: ${API_GATEWAY_HOST}
    ports:
      - ${API_GATEWAY_PORT}:${API_GATEWAY_PORT}
    networks:
      - pasarly-net
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - SERVER_HOST=${API_GATEWAY_HOST}
      - SERVER_PORT=${API_GATEWAY_PORT}
      - SERVICE_AUTH_HOST=${AUTH_SERVICE_HOST}
      - SERVICE_AUTH_PORT=${AUTH_SERVICE_PORT}
      - SERVICE_USER_HOST=${USER_SERVICE_HOST}
      - SERVICE_USER_PORT=${USER_SERVICE_PORT}
      - JWT_SECRET=${AUTH_JWT_SECRET}
    depends_on:
      jaeger:
        condition: service_started
      auth-service:
        condition: service_started

  auth-service:
    image: pasarly-auth-service
    platform: linux/amd64
    build:
      context: .
      dockerfile: services/auth/Dockerfile.app
    container_name: ${AUTH_SERVICE_HOST}
    networks:
      - pasarly-net
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - SERVER_HOST=${AUTH_SERVICE_HOST}
      - SERVER_PORT=${AUTH_SERVICE_PORT}
      - DATABASE_HOST=${AUTH_DATABASE_HOST}
      - DATABASE_PORT=${AUTH_DATABASE_PORT}
      - DATABASE_USER=${AUTH_DATABASE_USER}
      - DATABASE_PASS=${AUTH_DATABASE_PASS}
      - DATABASE_NAME=${AUTH_DATABASE_NAME}
    depends_on:
      auth-database:
        condition: service_healthy
      auth-migrator:
        condition: service_completed_successfully

  auth-database:
    image: postgres:16-alpine
    container_name: ${AUTH_DATABASE_HOST}
    networks:
      - pasarly-net
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${AUTH_DATABASE_USER}
      - POSTGRES_PASSWORD=${AUTH_DATABASE_PASS}
      - POSTGRES_DB=${AUTH_DATABASE_NAME}
    volumes:
      - auth_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${AUTH_DATABASE_USER} -d ${AUTH_DATABASE_NAME}"]
      interval: 5s
      retries: 5
  
  auth-migrator:
    image: pasarly-auth-migrator
    platform: linux/amd64
    build:
      context: .
      dockerfile: services/auth/Dockerfile.migrator
    container_name: auth-migrator
    networks:
      - pasarly-net
    restart: "no"
    env_file:
      - .env
    environment:
      - DATABASE_HOST=${AUTH_DATABASE_HOST}
      - DATABASE_PORT=${AUTH_DATABASE_PORT}
      - DATABASE_USER=${AUTH_DATABASE_USER}
      - DATABASE_PASS=${AUTH_DATABASE_PASS}
      - DATABASE_NAME=${AUTH_DATABASE_NAME}
    depends_on:
      auth-database:
        condition: service_healthy
    entrypoint: ["./bin/migrator"]
    healthcheck:
      test: ["CMD", "pg_isready", "-h", "${AUTH_DATABASE_HOST}"]
      interval: 10s
      retries: 3
  
  user-service:
    image: pasarly-user-service
    platform: linux/amd64
    build:
      context: .
      dockerfile: services/user/Dockerfile.app
    container_name: ${USER_SERVICE_HOST}
    networks:
      - pasarly-net
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - SERVER_HOST=${USER_SERVICE_HOST}
      - SERVER_PORT=${USER_SERVICE_PORT}
      - DATABASE_HOST=${USER_DATABASE_HOST}
      - DATABASE_PORT=${USER_DATABASE_PORT}
      - DATABASE_USER=${USER_DATABASE_USER}
      - DATABASE_PASS=${USER_DATABASE_PASS}
      - DATABASE_NAME=${USER_DATABASE_NAME}
    depends_on:
      user-database:
        condition: service_healthy
      user-migrator:
        condition: service_completed_successfully

  user-database:
    image: postgis/postgis:16-3.4
    container_name: ${USER_DATABASE_HOST}
    networks:
      - pasarly-net
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${USER_DATABASE_USER}
      - POSTGRES_PASSWORD=${USER_DATABASE_PASS}
      - POSTGRES_DB=${USER_DATABASE_NAME}
    volumes:
      - user_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${USER_DATABASE_USER} -d ${USER_DATABASE_NAME}"]
      interval: 5s
      retries: 5
  
  user-migrator:
    image: pasarly-user-migrator
    platform: linux/amd64
    build:
      context: .
      dockerfile: services/user/Dockerfile.migrator
    container_name: user-migrator
    networks:
      - pasarly-net
    restart: "no"
    env_file:
      - .env
    environment:
      - DATABASE_HOST=${USER_DATABASE_HOST}
      - DATABASE_PORT=${USER_DATABASE_PORT}
      - DATABASE_USER=${USER_DATABASE_USER}
      - DATABASE_PASS=${USER_DATABASE_PASS}
      - DATABASE_NAME=${USER_DATABASE_NAME}
    depends_on:
      user-database:
        condition: service_healthy
    entrypoint: ["./bin/migrator"]
    healthcheck:
      test: ["CMD", "pg_isready", "-h", "${USER_DATABASE_HOST}"]
      interval: 10s
      retries: 3

  notification-service:
    image: pasarly-notification-service
    platform: linux/amd64
    build:
      context: .
      dockerfile: services/notification/Dockerfile.app
    container_name: ${NOTIFICATION_SERVICE_HOST}
    networks:
      - pasarly-net
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - DATABASE_HOST=${NOTIFICATION_DATABASE_HOST}
      - DATABASE_PORT=${NOTIFICATION_DATABASE_PORT}
      - DATABASE_USER=${NOTIFICATION_DATABASE_USER}
      - DATABASE_PASS=${NOTIFICATION_DATABASE_PASS}
      - DATABASE_NAME=${NOTIFICATION_DATABASE_NAME}
    depends_on:
      notification-database:
        condition: service_healthy
      notification-migrator:
        condition: service_completed_successfully
 
  notification-database:
    image: postgres:16-alpine
    container_name: ${NOTIFICATION_DATABASE_HOST}
    networks:
      - pasarly-net
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${NOTIFICATION_DATABASE_USER}
      - POSTGRES_PASSWORD=${NOTIFICATION_DATABASE_PASS}
      - POSTGRES_DB=${NOTIFICATION_DATABASE_NAME}
    volumes:
      - notification_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${NOTIFICATION_DATABASE_USER} -d ${NOTIFICATION_DATABASE_NAME}"]
      interval: 5s
      retries: 5
  
  notification-migrator:
    image: pasarly-notification-migrator
    platform: linux/amd64
    build:
      context: .
      dockerfile: services/notification/Dockerfile.migrator
    container_name: notification-migrator
    networks:
      - pasarly-net
    restart: "no"
    env_file:
      - .env
    environment:
      - DATABASE_HOST=${NOTIFICATION_DATABASE_HOST}
      - DATABASE_PORT=${NOTIFICATION_DATABASE_PORT}
      - DATABASE_USER=${NOTIFICATION_DATABASE_USER}
      - DATABASE_PASS=${NOTIFICATION_DATABASE_PASS}
      - DATABASE_NAME=${NOTIFICATION_DATABASE_NAME}
    depends_on:
      notification-database:
        condition: service_healthy
    entrypoint: ["./bin/migrator"]
    healthcheck:
      test: ["CMD", "pg_isready", "-h", "${NOTIFICATION_DATABASE_HOST}"]
      interval: 10s
      retries: 3
  
  # ---------- Redis ----------
  redis:
    image: redis:7.4-alpine
    container_name: ${CACHE_HOST}
    networks:
      - pasarly-net
    restart: unless-stopped
    env_file:
      - .env
    command: redis-server --requirepass "${CACHE_PASS}"
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${CACHE_PASS}", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  # ---------- Kafka ----------
  kafka-init:
    image: apache/kafka:3.8.0
    container_name: kafka-init
    networks:
      - pasarly-net
    restart: "no"
    volumes:
      - ./scripts/create-kafka-topics.sh:/create-kafka-topics.sh
    depends_on:
      kafka1:
        condition: service_healthy
      kafka2:
        condition: service_healthy
      kafka3:
        condition: service_healthy
    command: ["bash", "/create-kafka-topics.sh", "&&", "exit"]

  kafka1:
    image: apache/kafka:3.8.0
    container_name: ${BROKER_1_HOST}
    networks:
      - pasarly-net
    restart: unless-stopped
    env_file:
      - .env
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://${BROKER_1_HOST}:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@${BROKER_1_HOST}:9093,2@${BROKER_2_HOST}:9093,3@${BROKER_3_HOST}:9093
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      KAFKA_CLUSTER_ID: ${BROKER_RANDOM_STABLE_ID}
    volumes:
      - kafka1_data:/var/lib/kafka/data
    healthcheck:
      test: ["CMD", "nc", "-z", "${BROKER_1_HOST}", "9092"]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka2:
    image: apache/kafka:3.8.0
    container_name: ${BROKER_2_HOST}
    networks:
      - pasarly-net
    restart: unless-stopped
    env_file:
      - .env
    environment:
      KAFKA_NODE_ID: 2
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://${BROKER_2_HOST}:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@${BROKER_1_HOST}:9093,2@${BROKER_2_HOST}:9093,3@${BROKER_3_HOST}:9093
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      KAFKA_CLUSTER_ID: ${BROKER_RANDOM_STABLE_ID}
    volumes:
      - kafka2_data:/var/lib/kafka/data
    healthcheck:
      test: ["CMD", "nc", "-z", "${BROKER_2_HOST}", "9092"]
      interval: 10s
      timeout: 5s
      retries: 5
  
  kafka3:
    image: apache/kafka:3.8.0
    container_name: ${BROKER_3_HOST}
    networks:
      - pasarly-net
    restart: unless-stopped
    env_file:
      - .env
    environment:
      KAFKA_NODE_ID: 3
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://${BROKER_3_HOST}:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@${BROKER_1_HOST}:9093,2@${BROKER_2_HOST}:9093,3@${BROKER_3_HOST}:9093
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      KAFKA_CLUSTER_ID: ${BROKER_RANDOM_STABLE_ID}
    volumes:
      - kafka3_data:/var/lib/kafka/data
    healthcheck:
      test: ["CMD", "nc", "-z", "${BROKER_3_HOST}", "9092"]
      interval: 10s
      timeout: 5s
      retries: 5
  
  # ---------- Jaeger ----------
  jaeger:
    image: jaegertracing/all-in-one:1.62.0
    container_name: ${TRACER_HOST}
    ports:
      - ${TRACER_PORT}:${TRACER_PORT}
      - 16686:16686
    networks:
      - pasarly-net
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - COLLECTOR_OTLP_ENABLED=true

networks:
  pasarly-net:
    name: pasarly-net
    driver: bridge

volumes:
  auth_db_data:
  user_db_data:
  notification_db_data:
  kafka1_data:
  kafka2_data:
  kafka3_data:
